@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  background: linear-gradient(95deg, #316f4a, #36a19a, #114968) center no-repeat;
}

main div.profile {
  height: 29vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
}

main div.profile img {
  width: 108px;
}

main .nome {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

main .subtitulo {
  font-weight: 400;
  color: #e3e3e3;
}

main .acompanhe {
  font-size: 0.9rem;
  margin-top: 0.8rem;
}

main section.container {
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: 2.5rem;
}

.social-media {
  background: rgba(224, 224, 224, 0.35);
  border-radius: 50px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  position: absolute;
  top: -30px;
}

.social-media a {
  width: 48px;
  height: 48px;
  margin-left: 25px;
}

.social-media a:first-child {
  margin-left: 0;
}

.links {
  background: #316f4a;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  padding: 1rem;
}

div.links {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.links img {
  width: 60%;
  border-radius: 16px;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
}
