@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
}

body {
  background: linear-gradient(95deg, #316f4a, #36a19a, #114968) no-repeat center;
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

main div.profile {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.6rem;
}

main div.profile img {
  width: 104px;
  height: 104px;
}

main .nome {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1rem;
}

main .subtitulo {
  font-weight: 300;
  color: #e3e3e3;
}

main .acompanhe {
  font-size: 1rem;
  margin-top: 1.2rem;
}

main section.container {
  width: 40vw;
  min-height: 90vh;
  margin-top: 2rem;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.social-media {
  background: rgba(224, 224, 224, 0.35);
  border-radius: 50px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  position: absolute;
  top: -28px;
}

.social-media a {
  width: 48px;
  height: 48px;
  margin-left: 25px;
}

.social-media a:first-child {
  margin-left: 0;
}

.links {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 2rem;
  padding: 1rem;
  text-align: center;
}

div.links span {
  color: #134d6a;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 1rem;
}

div.links a {
  color: #134d6a;
}

.links img {
  width: 90%;
  border-radius: 16px;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}

.links a.btn {
  color: #fff;
  background: #144e6b;
  width: 300px;
  padding: 1rem;
  margin-top: 5rem;
  border-radius: 16px;
}

.links a:last-child {
  padding: 5px;
  margin-top: 2rem;
}

/*RESPOSIVIDADE*/

@media only screen and (max-width: 750px) {
  main section.container {
    width: 100vw;
  }

  .links img {
    width: 100%;
  }
}
